<!DOCTYPE html>
<html>
<%- partial('/partial/head') %>
<body>
    <div class="body-container">
        <%- partial('partial/header') %>
        <%- body %>
        <%- partial('partial/footer') %>
    </div>
    <%- partial('partial/afterFooter') %>
</body>
</html>
