<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="shortcut icon" href="<%= url_for(theme.favicon) %>" type="image/x-icon" />
    <title>
        <% if (page.title) { %>
            <%= page.title %> |
        <% } %>
        <%= config.title %>
    </title>
    <%- css('css/style') %>
    <% if (theme.analytics && theme.analytics.enable) { %> 
        <% if (theme.analytics.gtag) { %>
            <script async src="https://www.googletagmanager.com/gtag/js?id=<%= theme.analytics.gtag %>"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', '<%= theme.analytics.gtag %>');
            </script>
        <% } %>
    <% } %>
    <script src="https://kit.fontawesome.com/1258cabd12.js" crossorigin="anonymous"></script>
    <link ref="stylesheet" href="/css/prism.css">
</head>